.App {
  text-align: center;
  min-height: 100vh;
  padding: 2% 0%;
  background-color: rgb(32, 35, 41);
  color: white;
  display: flex;
  flex-direction: row;
}

.App__bio {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.App__path {
  width: 50%;
  display: flex;
  flex-direction: column;
  border-left: solid 1px rgba(118,116,140,0.212);
}

@media (max-width: 1200px) {
  .App {
    flex-direction: column;
  }

  .App__bio {
    width: 100%;
  }
  
  .App__path {
    width: 100%;
    border: none;
  }
}
